/***************************
GENERAL
***************************/
body{
    font-family: 'Open Sans', sans-serif;
    /*background-color: yellow;*/
    background-color: #fff;
    /*color: #999 /*change text color of body*/*/
}

/*
	this is the content design
*/
#wrapper {
    /*max-width: 940px; /* text will be centered if 940px is exceeded    */*/
    margin: 0 auto;
    padding: 0 5%;
    /*background: yellow;*/ 
}

/***************************
NAVIGATION
***************************/
nav {
    text-align: center;
   /* margin: 20px 0 0;*/ /*
       adds an extension of yellow above
   */
    background-color: rgb(49,62,159);
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    padding: 15px 10px; /* links will be more clickable bec of padding */
}

/*
nav a, nav a:visited {
    color: yellow;
}*/

/* selected nav link */
nav a.selectedHeader, nav a:hover {
    color: yellow;
    
}

/***************************
HEADING
***************************/
header img {
    /*width: 400px;*/
    margin-bottom: -10px;
    max-width: 100%;
    height: 80px;
    /*background-color: yellow;*/
}

.notice {
    color: black;
    background-color: yellow;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 10px;
}

header {
    /*float: left;*/
    margin: 0 auto 30px;
    padding: 5px 0 0 0;
    width: 90%; /*to stretch it out the whole page*/
}

#logo {
    /*background-color: orange; - will not work since its a link*/ 
    width: 100%;
    text-align: center;
    margin: 0;
}

#logolink  p {
    /*background-color: red;*/
    width: 100%;
    text-align: right;
    font-size: 0.75em;
    /*margin: -5px 0 0;*/
    font-weight: normal;
    margin-right: 20px;
}

h1 {
    font-family: 'Changa One', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 0.8em;
}

h2 {
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}


/***************************
 BODY CONTENT
***************************/
/*#body-top p, 
#body-top label, 
#body-top option, 
#body-top span {
    display: inline-block;
    float: left;
    border: solid 1px black;
}*/
#body-top h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
}

#body-top {
    width: 90%;
    margin: 0 auto;
    font-size: 0.8em;
    font-weight: 600;
}
#body-top a {
    float: right;
    padding:6px 0
}
#body-top select {
    padding:6px;
    margin:3px;
    color:#666;
    font-weight: 700;
}
.rounded { 
    border-radius:10px; 
    -moz-border-radius:10px; 
    -webkit-border-radius:10px; 
}
#body-top input[type="text"]{
   color:#777;
}
.search { 
      padding:6px 15px 6px 30px;
      margin:3px; 
      background: url('../img/search-icon.png') no-repeat -2px -3px; 
}

#applicant-info label, #applicant-info input[type="text"] {
  display:inline-block;
}

#applicant-info input[type="text"] {
  width:20%;  
}

#applicant-info label {
  width:10%; /* or whatever size you want them */   
  margin-left: 2.4%;
  
}

.shadow {
    /*used http://www.cssmatic.com/box-shadow to generate shadow effect*/
    -webkit-box-shadow: 0px 12px 25px 0px rgba(0,0,0,0.38); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 12px 25px 0px rgba(0,0,0,0.38); /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 12px 25px 0px rgba(0,0,0,0.38); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
#buttons {
    text-align: center;
}

form {
    width: 96%;
    margin: 0 auto;
}
section {
    height: 700px;
    margin-bottom: 30px;
}

.employment_training div {
    width: 50%;
}

textarea {
    width: 70%;
    height: 90px;
    margin: 5px 5px;
}
#emp_history_div {
    float: left;
}

#emp_history_div label, 
#trainings_div label, 
#documentation label {
    display: block;
    width: 100%;
    margin: 0;
}

#trainings_div {
    float: right;
}
#applicant-info {
    width: 78%;
margin-right: 2%; /*to use up all 100%*/
    float: left;
}
#applicant-eval-results {
    width: 20%;
    float: right;
}

#requirements_attachment {
    background-color: gray;
}

#applicant-eval-results label {
    display: inline-block;
    width: 100%;
}

#applicant-eval-results select {
    width: 60%;
}
/***************************
 BODY TABLES
***************************/
table {
  /*max-width: 900px;*/
 width: 90%;
  margin: 20px auto 40px;
  /*margin: 10px auto;*/
  font-size: 0.75em;
}

thead th {
  font-weight: 400;
  background: rgb(240,240,240);
  /*color: #FFF;*/
 color: black;
 font-weight: 700;
}

tr {
  background: white;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: rgb(247,247,247);
}

th, td {
  text-align: left;
  padding: 10px;
  font-weight: 300;
    border: 1px solid #ccc; /*added this for border*/
}



/***************************
FOOTER
***************************/
footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #000;
}